<configuration>
<system.diagnostics>
    <switches>
    </switches>
    <trace autoflush="false" indentsize="4">
        <listeners>
           <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="unittests.log" />
        </listeners>
    </trace>
</system.diagnostics>

<configSections>
   <section name="unitTestSection" type="System.Configuration.SingleTagSectionHandler" />
   <section name="unitTestExternalHosts" type="System.Configuration.DictionarySectionHandler" />
</configSections>

<unitTestSection  defHost="http://www.oreillynet.com/pub/feed/7" 
                  defRemoteHost="http://www.oreillynet.com/pub/feed/7" 
                  userName="youaccount"
                  passWord="yourpassword"                      
                  calendarURI="http://www.google.com/calendar/feeds/default/private/full/"
		  compositeURI="http://www.google.com/calendar/feeds/default/private/composite/"
                  iteration="3" requestlogging="true"/>

<unitTestExternalHosts>
	<add key="Host1" value="http://www.franklinmint.fm/2005/09/26/test_entry2.xml" />
	<add key="Host2" value="http://www.atomenabled.org/atom.xml" />
	 <add key="Host4" value="http://www.oreillynet.com/pub/feed/25" />
	<add key="Host5" value="http://www.oreillynet.com/pub/feed/7" />
	<add key="Host6" value="http://atompub.org/blog/index.atom" />
	<add key="Host8" value="http://www.xsltblog.com/atom.xml" />
	<add key="Host9" value="http://bblfish.net/blog/blog.atom" />
	<add key="Host10" value="http://use.perl.org/index.atom" />
</unitTestExternalHosts>


</configuration>
