<configuration>
 <configSections>
    <section name="unitTestSection" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  <section name="unitTestExternalHosts" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
 </configSections>
   <system.diagnostics>
    <switches>
    </switches>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="unittests.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <unitTestSection  defHost="http://www.oreillynet.com/pub/feed/7"
                    defRemoteHost="http://www.oreillynet.com/pub/feed/7"

                    domainName="yourdomainname"
                    domainAdminUsername="youradminusername"
                    domainAdminPassword="youradminpassword"
                    userName="youaccount"
                    passWord="yourpassword"
                    accountId="ga:youraccountId" 

                    youTubeClientID="yourclientid"
                    youTubeDevKey="yourdevKey"
                    youTubeUser="youtubeuser"
                    youTubePwd="youtubepwd"                    

                    aclFeedURI="https://www.google.com/calendar/feeds/default/acl/full/"
                    analyticsURI="https://www.google.com/analytics/feeds/data" 
                    calendarURI="https://www.google.com/calendar/feeds/default/private/full/"
                    ownCalendarsURI="https://www.google.com/calendar/feeds/default/owncalendars/full/" 
                    bloggerURI="https://www.blogger.com/feeds/BLOG_ID/posts/full"
                    gBaseURI="http://base.google.com/base/feeds/items"
                    gBaseKey="your app key"
                    compositeURI="https://www.google.com/calendar/feeds/default/private/composite/"
                    OAUTHCONSUMERKEY="key"
                    OAUTHCONSUMERSECRET="secret"
                    OAUTHDOMAIN="domain"
                    OAUTHUSER="user"

                    iteration="3" requestlogging="true"/>

  <unitTestExternalHosts>
    <add key="HostGData" value="http://googledataapis.blogspot.com/feeds/posts/default" />
    <add key="Host1" value="http://www.franklinmint.fm/2005/09/26/test_entry2.xml" />
    <add key="Host2" value="http://www.atomenabled.org/atom.xml" />
    <add key="Host4" value="http://www.oreillynet.com/pub/feed/25" />
    <add key="Host5" value="http://www.oreillynet.com/pub/feed/7" />
    <add key="Host6" value="http://atompub.org/blog/index.atom" />
    <add key="Host8" value="http://www.xsltblog.com/atom.xml" />
    <add key="Host9" value="http://bblfish.net/blog/blog.atom" />
    <add key="Host10" value="http://use.perl.org/index.atom" />
  </unitTestExternalHosts>
</configuration>
